<html style="background:#263238;">
    <body style="text-align:center;color:#ffeb3b;">
        <a href="/raw" style="padding-top:20px;color:#ffeb3b !important;text-decoration:underline !important;"><code>DISPLAY RAW</code></a>
        <h5>IP Address</h5><br>
        <code><%=ipValue%></code><br><br>
        <h5>Language</h5><br>
        <code><%=langValue%></code><br><br>
        <h5>Operating System</h5><br>
        <code><%=osValue%></code><br><br>
        <a href="http://codepen.io/WiseKodama/pens/public/" target="_blank"><img src="https://s29.postimg.org/3wl4voyx3/Logo_Kodama.png" width="30px" style="border-radius:50%;border:2px solid #ffeb3b;"></a>
    </body>
</html>